<div>
  <h3>Create a new post</h3>
</div>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title">
    <!-- <small id="emailHelp" class="form-text text-muted">Title should be present</small> -->
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="5" class="form-control" placeholder="Enter description"></textarea>
  </div>
  <button type="submit" class="btn btn-sm btn-primary float-right" *ngIf="action=='create'">Create</button>
  <button type="submit" class="btn btn-sm btn-primary float-right" *ngIf="action=='update'">Update</button>
</form>